<div class="container">
<div class="card">
 <h2>
    <span>Post #<%= index %></span>
    <span>
      <%= post.title %>
    </span>
  </h2>
   <p>
    <%= post.text %>
  </p>
  <small>
    <span>Comment: <%= pos+-t.comments_counter %>, Likes: <%= post.likes_counter %></span>
  </small>
</div>
</div>